
/* GENERAL PAGE STYLING */

* {
  box-sizing: border-box;
}

.page-modifications{
  margin: 0;
  padding: 0;
  padding-bottom: 300px;
  font-family: dosis, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: beige;
}


.header-modifications{
  margin-bottom: 0px;
  height: 0px;
}





/* NAVIGATION BAR */

.navigation-bar-flexbox{
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-bottom: 0px;
  font-size: 14px;

}


.portfolio-name{
background-color: rgb(255, 161, 197);
width: 200px;
height: 25px;
position: relative;
top: -50px;

font-weight: 700;
color: rgb(88, 87, 87);

}




.navigation-bar-list{
  background-color: rgb(88, 87, 87);
  list-style-type: none;
  flex: 1;
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
  
}





.navigation-bar-link{
 color: rgb(255, 161, 197);
 font-weight: 600;
 text-decoration: underline;

 margin-right: 8px;

 
}





/* HERO SECTION */

.hero-banner{
  margin-bottom: 0px;
}

.hero-image{
  margin-top: 40px;
  height: 120px;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
 
  
}



.subtitle-heading{
  background-color: rgb(255, 161, 197);
  width: 200px;
  height: 25px;
  position: relative;
  top: -55px;
  margin-left: 510px;
  
  font-weight: 700;
  font-size: small;
  text-align: left;
  color: rgb(88, 87, 87);
  padding-left: 9px;
  
  }


  /* ABOUT ME */

  .page-section{
    display: flex;
    flex-direction: row;
    /* border: solid;
    border-color: rgb(88, 87, 87); */

  }

  .about-me{
    padding-right: 10px;
    width: 200px;
    text-align: end;
    border-right: 2px solid rgb(255, 161, 197);
    height: 60px;
    font-size: 14px;
    margin-bottom: 60px;
    color: rgb(88, 87, 87);
 
    
    

  }

  .about-me-text{
    flex: 1;
    margin-left: 40px;
    font-size: 12px;
    color: rgb(88, 87, 87);

    margin-right: 50px;
    
  }



  .work{
    padding-right: 10px;
    width: 201px;
    text-align: end;
    border-right: 2px solid rgb(255, 161, 197);
    height:20px;
    margin: 0px;

  

   

  }


  /* GALLERY OF PROJECTS */

  .main-flex{
    display: flex;
    flex: 1;
    width: 400px;
    height: 300px;
    background-color: rgb(88, 87, 87);
    margin-left: 20%;


    margin-bottom: 0%;
    



  }

  

  .flex-container-01{
    margin-top: 0px;
    margin: 0px;
    width: 700px;
    height: 700px;
    column-gap: 5px;
    margin-bottom: 0px;
    
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: row;
    place-self: center;
    


  }

  .flex-container-02{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    


  }


  .flexbox{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;


    margin-top: 100px;
    width: 200px;
    height: 150px;
    margin: 10px;

  }


  .images{
    width: 200px;
    height: 150px;
    object-fit: cover;
    transition: opacity 0.3s;

  }

  .images:hover{
    cursor: pointer;
    opacity: 0.5;
  }


  .image-main{
    transition: opacity 0.3s;

  }

  .image-main:hover{
    cursor: pointer;
    opacity: 0.5;
  }


  .contact-me{
    margin-top: 0px;
    padding-right: 10px;
    width: 200px;
    text-align: end;
    height: 100px;
    border-right: 2px solid rgb(255, 161, 197);
    color: rgb(88, 87, 87);
   
  
  }



  /* CONTACT DETAILS */
  .contact-details{
    flex: 1;
    text-align:center;
    padding-right: 50px;
    padding-top: 10px;
    color: rgb(88, 87, 87);
    font-weight: bold;

  }

  .data{
    margin: 10px;
    flex: 1;
    text-align: right;
    font-size: 12px;

  }

  .logo{
    position: absolute;
    width: 5px;
    border-radius: 50px;
  }












