
/* GENERAL PAGE STYLING */

.page-modifications{
  margin: 0;
  padding: 0;
  font-family: dosis, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


* {
  box-sizing: border-box;
}



/* NAVIGATION BAR */

.navigation-bar-flexbox{
  display: flex;
  flex-direction: row;
  height: 40px;

}


.portfolio-name{
background-color: rgb(103, 156, 156);
width: 200px;
height: 25px;
position: relative;
top: -32px;

font-weight: 700;
color: rgb(88, 87, 87);

}




.navigation-bar-list{
  background-color: rgb(88, 87, 87);
  list-style-type: none;
  flex: 1;
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
  
}



.navigation-bar-link{
 color: rgb(103, 156, 156);
 font-weight: 600;
 text-decoration: underline;

 margin-right: 8px;

 
}








/* body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
